<ul style='list-style: none;float:left; display:inline'>
    <div class="inner">{{#link-to 'dashboard.dailyrevenue.rooms'}} <button type="button">{{ t 'dashboard.tabs.summaryView' }}</button> {{/link-to}}</div>
    <div class="inner">{{#link-to 'dashboard.dailyrevenue.rooms'}} <button type="button">{{ t 'dashboard.tabs.RoomsData' }}</button> {{/link-to}}</div>
    <div class="inner">{{#link-to 'dashboard.dailyrevenue.rooms'}} <button type="button">{{ t 'dashboard.tabs.F&BData' }}</button> {{/link-to}}</div>
    <div class="inner">{{#link-to 'dashboard.dailyrevenue.rooms'}} <button type="button">{{ t 'dashboard.tabs.OtherIncome' }}</button> {{/link-to}}</div>
</ul>
<br/><br/>
{{yield}}
